/*
    Code made by Miguel Monteiro
    miguelmonteiroclaveri@gmail.com
    mmonteirocl@esliceu.net
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main form{

    background-color: #fbfbfb;

    border-radius: 5px;
    border: #4ba82d solid 1px;
    text-align: center;
    padding: 15px;
    font-size: 25px;

    /*FLEX HIJO*/
    display: flex;
    flex-direction: column;


    /*FLEX HIJO*/
    flex-basis: 30%;
}

main{
    /*FLEX PADRE*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



main form input, main form textarea, main form select {
    font-size: 20px;
    height: 60px;
}
main form textarea{
    height: 130px;
}
#telefono input{
    width: 70%;
}
#telefono select{
    width: 11%;
}
