@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Abel|Indie+Flower|ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url('https://fonts.googleapis.com/css?family=Iceberg');


/*
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Abel', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Abel', sans-serif;

*/

/*
    Code made by Miguel Monteiro
    miguelmonteiroclaveri@gmail.com
    mmonteirocl@esliceu.net
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Abel', sans-serif;

}


/*  Header  */

header {
    background-color: #ffffff;
    border-bottom: solid 1.5px #9e9e9e;

    font-family: 'Pathway Gothic One', sans-serif;

    margin-bottom: 40px;

    /*Flex padre*/
    display: flex;
    justify-content: space-evenly;

}

header > * {
    flex-basis: 30%;
}

header h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 55px;
}

header nav ul li {
    color: black;
    list-style: none;
    margin-top: 5%;
    margin-bottom: 5%;

    border-bottom: 1.5px solid #296cff;
    background-color: #ffffff;
    height: 35px;
    font-size: 25px;
    text-align: center;
    padding-top: 3px;

    transition: background-color 0.3s, border-radius 1s;
}

header nav ul li:hover {
    background-color: #f4f4f4;
    border-radius: 10px;
}

header nav ul li.active /*a[href="#"]*/
{
    border-bottom: 1.5px solid #4ba82d;
}

nav ul a {
    /*Elimina subrayado de etiqueta a*/
    color: black;
    text-decoration: none;
}

header nav:nth-child(2) ul {

    /*flex padre*/
    display: flex;
}

header nav:nth-child(2) ul li {

    margin-left: 3%;
    /*Flex hijo*/
    flex-basis: 8%;
}

header nav:nth-child(3) ul {

    /*flex padre*/
    display: flex;
    justify-content: space-evenly;
}

header nav:nth-child(3) ul li {

    /*Flex hijo*/
    flex-basis: 13%;
}


/*  Footer  */

/*Daremos estilo a todos los enlaces de nuestros section*/

footer section p a {
    text-decoration: none;
    color: #0017d8;
    text-shadow: 0px 0px 10px #5874ba;
}

footer section {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 1%;
}

footer section h2, footer section h3, footer section h4, footer section h5, footer section h6 {
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}

footer {
    margin-top: 40px;
    background-color: #dbdadd;

    /*Flex padre*/
    display: flex;
    flex-wrap: wrap;
}

footer > * {
    flex-basis: 25%;
}

footer section {
    padding: 2%;
    border-right: 1.3px solid #afafaf;
    text-align: left;
}

footer section:nth-child(4) {
    border: 0px;
}

footer section nav ul {
    list-style: none;
}

footer section nav ul {
    /*Flex padre*/

    display: flex;
    flex-wrap: wrap;
}

footer section nav ul li {
    flex-basis: 50%;
    height: 55px;
}


footer section:nth-child(3) form {

    display: flex;
    flex-direction: column;

}

footer section:nth-child(3) form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

footer section:nth-child(3) form input:nth-child(2) {
    height: 60px;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}


footer section:nth-child(3) form input:nth-child(3) {
    margin-top: 20px;
    height: 50px;
    font-size: 30px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    box-shadow: #afafaf 2px 2px 2px 2px;
    transition: box-shadow 1s;
}

footer section:nth-child(3) form input:nth-child(3):hover {
    box-shadow: #9a9a9a 3px 3px 3px 3px;
    cursor: pointer;
}


/*Alerta*/

#advice {
    position: fixed;
    width: 13%;
    background-color: #e7e7ee;
    height: 150px;
    padding: 30px;
    border-radius: 50px;
    border: 1.6px solid #9e9e9e;
    right: 20px;
    bottom: 50px;
}

#advice img {
    width: 30px;
    position: absolute;
    right: 15px;
    top: 13px;
}

#advice img:hover {
    cursor: pointer;
}


/*ANIMACION DE CARGA DEL JUEGO*/

/*
Animacion encontrada por interner en esta pagina web:
https://codepen.io/Rplus/pen/lEDBj
Modificaca a mi gusto
*/
div.cargaJuego {
    height: 400px;
}

.bb, .bb::before, .bb::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;

}

.bb {
    z-index: 15;

    text-align: center;
    width: 200px;
    height: 200px;
    margin: auto;
    color: #c7ca7c;
    box-shadow: inset 0 0 0 3px rgba(193, 202, 138, 0.5);
}

.bb::before, .bb::after {
    content: '';
    z-index: 15;
    margin: -5%;
    box-shadow: inset 0 0 0 3px;
    animation: clipMe 8s linear infinite;
}

.bb::before {
    z-index: 15;

    animation-delay: -4s;
}

.bb:hover::after, .bb:hover::before {
    z-index: 15;

    background-color: rgba(239, 115, 255, 0.11);
}

@keyframes clipMe {
    0%, 100% {
        clip: rect(0px, 220px, 2px, 0px);
        z-index: 15;
    }
    25% {
        clip: rect(0px, 2px, 220px, 0px);
        z-index: 15;

    }
    50% {
        clip: rect(218px, 220px, 220px, 0px);
        z-index: 15;

    }
    75% {
        clip: rect(0px, 220px, 220px, 218px);
        z-index: 15;

    }
}

@keyframes aniTexto {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }

}


.bb h3 {
    font-family: 'Iceberg', cursive;
    animation: aniTexto 1s infinite linear alternate;
    margin-top: 40%;
    margin-bottom: 40%;
    color: black;
    font-size: 2.2em;
}


/*MAPA*/

#map {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}


/*CONFIG*/


#settings {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    background-color: lightgray;
    border: black solid 1px;
    border-radius: 20px;
}

#settings form {
    /*Flex padre*/
    display: flex;
    flex-direction: column;

    padding: 15px;
}

#settings form > input {
    width: 100%;
    margin-bottom: 20px;
}


/*CONTACTO*/


main#mainContact form {

    background-color: #fbfbfb;

    border-radius: 5px;
    border: #191b90 solid 1px;
    text-align: center;
    padding: 15px;
    font-size: 25px;

    /*FLEX HIJO*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*FLEX HIJO*/
    flex-basis: 30%;
}

main#mainContact {
    /*FLEX PADRE*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


main#mainContact form input, main#mainContact form textarea, main#mainContact form select {
    font-size: 20px;
    height: 60px;
}

main#mainContact form textarea {
    height: 130px;
}

#telefono input {
    width: 70%;
}


#telefono select {
    width: 11%;
}

.smallSug {
    /*flex padre*/
    display: flex;
    flex-direction: column;
}


/*HELP*/


main#mainHelp {

    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
}

main#mainHelp section:nth-child(2) {
    /*FLEX PAPA*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#mainHelp h3 {
    text-align: center;
    font-size: 50px;

}

#victoria {
    display: none;
}

#canvasGame {
    display: none;
}


#canviarNivel {
    display: none;
    font-size: 21px;
    width: 750px;
    margin-bottom: 20px;
    margin-left: 30%;
}


#popUpSaved {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    right: 20px;
    top: 15vh;
    font-size: 25px;
    opacity: 0;
    padding: 10px;
    width: 20vw; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(191, 191, 191, 0.4); /* Black w/ opacity */
    transition: display 2s;
}
