@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Abel|Indie+Flower|ZCOOL+QingKe+HuangYou');

/*
    Code made by Miguel Monteiro
    miguelmonteiroclaveri@gmail.com
    mmonteirocl@esliceu.net
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*  Fuentes importadas    */
/*
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Abel', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Pathway Gothic One', sans-serif;
*/


/*  Header  */

header{
    background-color: #ffffff;
    border-bottom: solid 1.5px #9e9e9e;

    font-family: 'Pathway Gothic One', sans-serif;

    margin-bottom: 40px ;

    /*Flex padre*/
    display: flex;
    justify-content: space-evenly;

}
header>*{
    flex-basis: 30%;
}

header h1{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 55px ;
}
header nav ul li{
    color: black;
    list-style: none;
    margin-top: 5%;
    margin-bottom: 5%;

    border-bottom: 1.5px solid #296cff;
    background-color: #ffffff;
    height: 35px;
    font-size: 25px;
    text-align: center;
    padding-top: 3px;

    transition: background-color 0.3s , border-radius 1s;
}
header nav ul li:hover{
    background-color: #f4f4f4;
    border-radius: 10px;
}

header nav ul li.active /*a[href="#"]*/ {
    border-bottom: 1.5px solid #4ba82d;
}

nav ul a{
    /*Elimina subrayado de etiqueta a*/
    color: black;
    text-decoration: none;
}

header nav:nth-child(2) ul{

    /*flex padre*/
    display: flex;
}
header nav:nth-child(2) ul li{

    margin-left: 3%;
    /*Flex hijo*/
    flex-basis: 8%;
}
header nav:nth-child(3) ul {

    /*flex padre*/
    display: flex;
    justify-content: space-evenly;
}
header nav:nth-child(3) ul li{

    /*Flex hijo*/
    flex-basis: 13%;
}




/*  Footer  */

/*Daremos estilo a todos los enlaces de nuestros section*/

footer section p a{

    text-decoration: none;
    color: #0017d8;
    text-shadow: 0px 0px 20px #00269b;


}

footer{
    margin-top: 40px;
    background-color: #dbdadd;

    /*Flex padre*/
    display: flex;
}

footer>*{
    flex-basis: 25%;
}

footer section{
    padding: 2%;
    border-right: 1.3px solid #afafaf;
    text-align: left;
}

footer section:nth-child(4){
    border: 0px;
}

footer section:nth-child(1) h2{

    font-family: 'Permanent Marker', cursive;

}

/*Alerta*/

#advice{
    position: fixed;
    width: 13%;
    background-color: #e7e7ee;
    height: 150px;
    padding: 30px;
    border-radius: 50px;
    border: 1.6px solid #9e9e9e;
    right: 20px;
    bottom: 50px;
}
#advice img {
    width: 30px;
    position: absolute;
    right: 15px;
    top: 13px;
}

